@import "tailwindcss";

body {
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 120px;
}

/* Global styles for headings */
h1 {
  font-size: 46px;
  font-weight: 600;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}
