.book {
  &Data {
    border: 2px solid #f8f8f8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px 0;
    border-radius: 5px;
    background-color: #f8f8f8;
  }

  &Table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    thead {
      background-color: #f0f0f0;
    }

    th,
    td {
      padding: 12px;
      border: 1px solid #ddd;
      text-align: left;
    }
  }

  &AddButton {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    float: inline-end;
    cursor: pointer;
  }
}

.wrapper {
  padding: 24px;
}

.tabButtons {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.tabButton {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.tabButton:hover {
  background-color: #f3f3f3;
}

.active {
  background-color: #333;
  color: #fff;
  border-color: #333;
}
